<div class="header-content">
    <div class="header-top">
        <div>
            <h1 class="app-title">
                <div class="flagOfMadagascar"><img width="70" src="/root/img/Flag_of_Madagascar.svg"
                        alt="Flag_of_Magagascar - Domaine public, https://commons.wikimedia.org/w/index.php?curid=343639">
                </div> Madagascar Regions Explorer
            </h1>
            <p class="text-sm opacity-90" style="margin-top: 0.5rem;">Administrative divisions and statistics
            </p>
        </div>
        <div class="stats-badge">
            <i class="fas fa-layer-group"></i>
            <span x-text="regions.length"></span> Regions
        </div>
    </div>

    <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="search-input" placeholder="Search for a region..."
            x-model.debounce.300ms="selectedRegion">
        <button x-show="selectedRegion" @click="selectedRegion = ''" class="clear-search">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>